estoquews/EstoqueWsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.estoque.caelum.com.br/" name="EstoqueWsService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.estoque.caelum.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ws.estoque.caelum.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="AutorizacaoFault" nillable="true" type="tns:infoFault"/>

      <xs:element name="Cadastrar" type="tns:Cadastrar"/>

      <xs:element name="CadastrarResponse" type="tns:CadastrarResponse"/>

      <xs:element name="filtros" type="tns:filtros"/>

      <xs:element name="item" type="tns:item"/>

      <xs:element name="itens" type="tns:itens"/>

      <xs:element name="listaItens" type="tns:listaItens"/>

      <xs:element name="tokenUsuario" nillable="true" type="tns:tokenUsuario"/>

      <xs:complexType name="Cadastrar">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="item">
        <xs:sequence>
          <xs:element name="codigo" type="xs:string"/>
          <xs:element name="nome" type="xs:string"/>
          <xs:element name="tipo" type="xs:string"/>
          <xs:element name="quantidade" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tokenUsuario">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
          <xs:element name="dataValidade" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CadastrarResponse">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="infoFault">
        <xs:sequence>
          <xs:element name="dataErro" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="mensagem" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listaItens">
        <xs:sequence>
          <xs:element name="filtros" type="tns:filtros" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filtros">
        <xs:sequence>
          <xs:element name="filtro" type="tns:filtro" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filtro">
        <xs:sequence>
          <xs:element name="nome" type="xs:string" minOccurs="0"/>
          <xs:element name="tipo" type="tns:tipoItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="itens">
        <xs:sequence>
          <xs:element name="itens" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="tipoItem">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Livro"/>
          <xs:enumeration value="Celular"/>
          <xs:enumeration value="Tablet"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="TodosOsItens">
    <part name="parameters" element="tns:listaItens"/>
  </message>
  <message name="TodosOsItensResponse">
    <part name="parameters" element="tns:itens"/>
  </message>
  <message name="Cadastrar">
    <part name="parameters" element="tns:Cadastrar"/>
    <part name="tokenUsuario" element="tns:tokenUsuario"/>
  </message>
  <message name="CadastrarResponse">
    <part name="result" element="tns:CadastrarResponse"/>
  </message>
  <message name="AutorizacaoException">
    <part name="fault" element="tns:AutorizacaoFault"/>
  </message>
  <portType name="EstoqueWs">
    <operation name="TodosOsItens">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWs/TodosOsItensRequest" message="tns:TodosOsItens"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWs/TodosOsItensResponse" message="tns:TodosOsItensResponse"/>
    </operation>
    <operation name="Cadastrar" parameterOrder="parameters tokenUsuario">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWs/CadastrarRequest" message="tns:Cadastrar"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWs/CadastrarResponse" message="tns:CadastrarResponse"/>
      <fault message="tns:AutorizacaoException" name="AutorizacaoException" wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWs/Cadastrar/Fault/AutorizacaoException"/>
    </operation>
  </portType>
  <binding name="EstoqueWsPortBinding" type="tns:EstoqueWs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="TodosOsItens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Cadastrar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:Cadastrar" part="tokenUsuario" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AutorizacaoException">
        <soap:fault name="AutorizacaoException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="EstoqueWsService">
    <port name="EstoqueWsPort" binding="tns:EstoqueWsPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

